@model IEnumerable<ResultPageViewModel>

@if (Model == null)
{
    <div class="alert alert-danger" role="alert">Please enter a correct url</div>
}
else
{
    <div id="chart_div"></div>
    <br/>
    
    <table class="table table-hover table-dark">
        <thead>
        <tr>
            <th scope="col">Url</th>
            <th scope="col">Response time</th>
            <th scope="col">Max response time</th>
            <th scope="col">Min response time</th>
        </tr>
        </thead>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.Url</td>
                <td>@p.ResponseTime ms</td>
                <td>@p.MaxResponseTime ms</td>
                <td>@p.MinResponseTime ms</td>
            </tr>
        }
    </table>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="application/javascript">
    google.charts.load('current', {packages: ['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    
    function drawChart(){
        var data = new google.visualization.arrayToDataTable([
        ['Url', 'Response Time (ms)'],
           @foreach (var data in Model)
           {
               <text>['@data.Url', @data.ResponseTime],</text>
           }
           ]);
     
           // Set chart options
           var options = {
               width:1100,
               height:500,
               backgroundColor: '#1b2024',
               colors: ["#0000ff"],
               
               hAxis: {
               textStyle: {
                   color: '#ffffff',
                   fontSize: 10
                  },
               titleTextStyle: {
                    color: '#ffffff',
                    fontSize: 10
                   }
               },
               
               vAxis: {
               title: 'Response time (ms)',
               textStyle: {
                    color: '#ffffff',
                    fontSize: 12
                   },
               titleTextStyle: {
                    color: '#ffffff',
                    fontSize: 10
                   }
               },
           };
     
           // Instantiate and draw our chart, passing in some options.
           var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
           chart.draw(data, options);         
        }
    </script>
}